Makefile
Makefile.old
*.tar.gz
*.bak
pm_to_blib
blib/
WWW-Mechanize-FireFox-*
WWW-Mechanize-FireFox-*/
WWW-Mechanize-Firefox-*
WWW-Mechanize-Firefox-*/
.releaserc
cover_db
firefox-versions/
MYMETA.*